<%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %>

<h1><%= @portfolio_item.title %></h1>


<p><em><%= @portfolio_item.subtitle %></em></p>


<p><%= @portfolio_item.body %></p>

<h2>Technologies Used:</h2>

<%	@portfolio_item.technologies.each do |tech| %>
  <p><%= tech.name %> </p>
<% end %>


<%= link_to "Back", portfolios_path %>