<h1>Homepage</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1><%= link_to 'Blog Posts', blogs_path %></h1>
<% @posts.each do |post| %>

  <%= post.title %> |
  <%= post.body %> <br/> <br/>

<% end %>

<br/><br/>

<h1>Skills</h1>
<% @skills.each do |skill| %>
  <%= skill.title %> |
  <%= skill.percent_utilized %> <br/> <br/>
<% end %>

<br/><br/>
<h1><%= link_to 'Portfolios', portfolios_path %></h1>
<% @portfolios.each do |portfolio| %>
  <%= portfolio.title %> |
  <%= portfolio.subtitle %> |
  <%= portfolio.body%> |
  <%= portfolio.main_image %> |
  <%= portfolio.thumb_image %><br/> <br/>
<% end %>
